* { box-sizing: border-box; }
body {
    background-color: #000;
    color: #fff;
    font-family: 'Arial Black', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.painel {
    text-align: center;
    width: 95vw;
    border: 2vw solid #ffcc00;
    border-radius: 5vw;
    padding: 2vh;
}

#senha-atual {
    font-size: 35vh; /* Ocupa 35% da altura da tela */
    color: #ffcc00;
    margin: 0;
    line-height: 1;
}

.titulo { font-size: 8vh; margin: 0; }
.subtitulo { font-size: 12vh; margin: 0; }
hr { border: 0; border-top: 1vh solid #ffcc00; width: 80%; }

.controles {
    margin-top: 20px;
    padding: 10px;
    background: #222;
    border-radius: 10px;
}

.controles select, .controles button {
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
}
